:root{
  --h-header: 80px;
  --w-header-input-w2:500px;
  --w-header-input:350px;
  --w-sidebar-w1:120px;
  --w-sidebar-w2:240px;
  --w-sidebar-nav-w1:100px;
  --w-sidebar-nav-w1:192px;
  --h-sidebar-nav-h1:62px;
  --h-sidebar-nav-h2:78px;

  --h-header-hotSearch:560px;
  
}

:root {
  --font-size:16px;
  --white: 255,255,255;
  --black: 0,0,0;
  --primary-50: 255,232,233;
  --primary-100: 255,194,198;
  --primary-200: 255,157,166;
  --primary-300: 254,119,137;
  --primary-400: 254,81,110;
  --primary-500: 255,44,85;
  --primary-600: 210,27,70;
  --primary-700: 165,14,55;
  --primary-800: 121,5,40;
  --primary-900: 77,0,25;
  --neutral-50: 249,249,249;
  --neutral-100: 242,242,243;
  --neutral-200: 228,228,230;
  --neutral-300: 201,201,204;
  --neutral-400: 146,147,153;
  --neutral-500: 92,93,102;
  --neutral-600: 78,79,89;
  --neutral-700: 65,66,76;
  --neutral-800: 51,52,63;
  --neutral-900: 37,38,50;
  --neutral-950: 22,24,35;
  --neutral-1000: 6,7,22;
  --green-50: 232,255,237;
  --green-100: 181,243,198;
  --green-200: 135,230,163;
  --green-300: 92,218,134;
  --green-400: 54,205,109;
  --green-500: 19,193,90;
  --green-600: 12,164,78;
  --green-700: 7,135,66;
  --green-800: 3,106,54;
  --green-900: 0,77,41;
  --yellow-50: 255,254,232;
  --yellow-100: 254,250,189;
  --yellow-200: 253,242,147;
  --yellow-300: 252,232,104;
  --yellow-400: 251,220,63;
  --yellow-500: 250,206,21;
  --yellow-600: 207,161,13;
  --yellow-700: 163,122,7;
  --yellow-800: 120,85,3;
  --yellow-900: 77,51,0;
  --blue-50: 232,248,255;
  --blue-100: 189,232,254;
  --blue-200: 147,214,253;
  --blue-300: 105,193,251;
  --blue-400: 63,169,250;
  --blue-500: 22,142,249;
  --blue-600: 14,110,206;
  --blue-700: 7,80,163;
  --blue-800: 3,53,120;
  --blue-900: 0,31,77;
  --dark-blue-50: 232,247,255;
  --dark-blue-100: 170,210,232;
  --dark-blue-200: 117,172,209;
  --dark-blue-300: 71,137,187;
  --dark-blue-400: 34,103,164;
  --dark-blue-500: 4,73,141;
  --dark-blue-600: 3,60,125;
  --dark-blue-700: 2,48,109;
  --dark-blue-800: 1,37,93;
  --dark-blue-900: 0,28,77;
  --purple-50: 248,232,255;
  --purple-100: 237,200,254;
  --purple-200: 224,169,253;
  --purple-300: 208,138,252;
  --purple-400: 191,107,251;
  --purple-500: 171,76,250;
  --purple-600: 130,47,207;
  --purple-700: 92,25,163;
  --purple-800: 59,9,120;
  --purple-900: 32,0,77;
  --cyan-50: 232,255,254;
  --cyan-100: 190,251,250;
  --cyan-200: 148,246,247;
  --cyan-300: 108,237,244;
  --cyan-400: 70,226,240;
  --cyan-500: 32,213,236;
  --cyan-600: 20,170,196;
  --cyan-700: 11,130,156;
  --cyan-800: 4,92,116;
  --cyan-900: 0,57,77;
  --light-green-50: 232,255,245;
  --light-green-100: 193,252,229;
  --light-green-200: 156,248,216;
  --light-green-300: 119,245,205;
  --light-green-400: 83,241,196;
  --light-green-500: 48,238,192;
  --light-green-600: 30,198,161;
  --light-green-700: 16,157,131;
  --light-green-800: 6,117,100;
  --light-green-900: 0,77,68;
  --orange-red-50: 255,241,232;
  --orange-red-100: 255,213,189;
  --orange-red-200: 255,183,147;
  --orange-red-300: 255,149,104;
  --orange-red-400: 255,113,62;
  --orange-red-500: 255,76,19;
  --orange-red-600: 210,51,12;
  --orange-red-700: 166,33,6;
  --orange-red-800: 121,18,2;
  --orange-red-900: 77,8,0;
  --orange-50: 255,247,232;
  --orange-100: 255,230,191;
  --orange-200: 255,210,151;
  --orange-300: 255,187,110;
  --orange-400: 255,162,70;
  --orange-500: 255,133,29;
  --orange-600: 210,101,18;
  --orange-700: 166,72,9;
  --orange-800: 121,47,3;
  --orange-900: 77,25,0;
  --gold-50: 255,252,232;
  --gold-100: 255,244,185;
  --gold-200: 255,233,139;
  --gold-300: 254,219,93;
  --gold-400: 254,202,46;
  --gold-500: 254,180,0;
  --gold-600: 210,143,0;
  --gold-700: 165,107,0;
  --gold-800: 121,75,0;
  --gold-900: 77,45,0;
}

:root, :root::selection {
  --c-primary: #fe2c55;
  --c-primary-hover: rgba(var(--primary-600),1);
  --c-primary-active: rgba(var(--primary-700),1);
  --c-primary-disable: rgba(var(--primary-100),1);
  --c-primary-default: rgba(var(--primary-500),1);
  --c-secondary-default: rgba(var(--neutral-100),1);
  --c-secondary-hover: rgba(var(--neutral-200),1);
  --c-secondary-active: rgba(var(--neutral-300),1);
  --c-secondary-disable: rgba(var(--neutral-50),1);
  --c-tertiary-default: rgba(var(--white),0);
  --c-tertiary-hover: rgba(var(--neutral-900),.04);
  --c-tertiary-active: rgba(var(--neutral-900),.08);
  --c-tertiary-disable: rgba(var(--white),0);
  --c-bg-b0: rgba(var(--white),1);
  --c-bg-b1: rgba(var(--neutral-50),1);
  --c-bg-b2: rgba(var(--neutral-100),1);
  --c-bg-b3: rgba(var(--neutral-200),1);
  --c-bg-nav: rgba(var(--neutral-100),1);
  --c-bg-toast: rgba(var(--neutral-800),1);
  --c-bg-b1-white: rgba(var(--white),1);
  --c-bg-b2-white: rgba(var(--white),1);
  --c-bg-b3-white: rgba(var(--white),1);
  --c-fill-hover: rgba(var(--neutral-900),.08);
  --c-fill-press: rgba(var(--neutral-900),.12);
  --c-fill-tag: rgba(var(--primary-500),.06);
  --c-fill-tag-grey: rgba(var(--neutral-950),.05);
  --c-fill-live: linear-gradient(131.17deg,#ff1764,#ed3495 94.15%);
  --c-fill-hot: linear-gradient(268.09deg,#f01b5b 6.38%,#ff5a44 59.9%,#ff9113 91.68%);
  --c-text-t0: rgba(var(--black),1);
  --c-text-t1: rgba(var(--neutral-950),1);
  --c-text-t2: rgba(var(--neutral-950),.75);
  --c-text-t3: rgba(var(--neutral-950),.5);
  --c-text-t4: rgba(var(--neutral-950),.34);
  --c-text-t5: rgba(var(--white),1);
  --c-text-t3-im: rgba(var(--neutral-950),.36);
  --c-text-live: #17b7e1;
  --c-line-l1: rgba(var(--neutral-950),.5);
  --c-line-l2: rgba(var(--neutral-950),.2);
  --c-line-l3: rgba(var(--neutral-950),.06);
  --c-mask-m1: rgba(var(--black),.8);
  --c-mask-m2: rgba(var(--black),.7);
  --c-mask-m3: rgba(var(--black),.6);
  --c-link-yellow: rgba(var(--yellow-500),1);
  --c-link-blue: rgba(var(--dark-blur-500),1);
  --c-semantic-success: rgba(var(--green-500),1);
  --c-semantic-danger: rgba(var(--orange-red-500),1);
  --c-semantic-warning: rgba(var(--orange-500),1);
  --c-const-text-white: rgba(var(--white),1);
  --c-const-text-black: rgba(var(--black),1);
  --c-const-text-primary: rgba(var(--neutral-950),1);
  --c-const-text-white90: rgba(var(--white),.9);
  --c-const-text-white75: rgba(var(--white),.75);
  --c-const-text-white60: rgba(var(--white),.6);
  --c-const-text-white34: rgba(var(--white),.34);
  --c-const-bg-white: rgba(var(--white),1);
  --c-const-bg-white30: rgba(var(--white),.3);
  --c-const-line-white: rgba(var(--white),1);
  --c-const-line-white4: rgba(var(--white),.04);
  --c-const-line-white8: rgba(var(--white),.08);
  --c-const-line-white12: rgba(var(--white),.12);
  --c-shadow1: rgba(0,0,0,.04);
  --c-shadow2: rgba(0,0,0,.1);
  --shadow-1: 0 0 24px rgba(0,0,0,.1);
  --shadow-2: 0 0 24px rgba(0,0,0,.12);
  --mask3: rgba(0,0,0,.6);
  --c-page-none-bg: hsla(0,0%,100%,0);
  --c-logo: #111;
  --c-xigua-tab-bg: rgba(0,0,0,.04);
  --c-xigua-categoryTab-c: #606266;
  --c-xigua-tab-c: #0c0d0f;
  --c-bg-rs: #eff0f3;
  --c-primary-disabled: rgba(var(--primary-100),1);
  --c-success: rgba(var(--green-500),1);
  --c-danger: rgba(var(--orange-red-500),1);
  --c-warning: rgba(var(--orange-500),1);
  --overlay-bg: rgba(var(--neutral-100),1);
  --overlay-bg-hover: rgba(var(--neutral-200),1);
  --overlay-bg-active: rgba(var(--neutral-300),1);
  --overlay-bg-disabled: rgba(var(--neutral-50),1);
  --c-text-0: rgba(var(--neutral-950),1);
  --c-text-1: rgba(var(--neutral-950),.75);
  --c-text-2: rgba(var(--neutral-950),.6);
  --c-text-3: rgba(var(--neutral-950),.34);
  --c-text-4: rgba(var(--white),1);
  --c-text-0-hover: rgba(var(--black),1);
  --c-border: rgba(var(--neutral-950),.5);
  --mask1: rgba(var(--black),.8);
  --mask2: rgba(var(--black),.8);
  --mask-video: rgba(var(--black),.7);
  --c-card-border: rgba(var(--neutral-950),.2);
  --c-bg-0: rgba(var(--neutral-50),1);
  --c-bg-1: rgba(var(--neutral-100),1);
  --c-bg-2: rgba(var(--neutral-200),1);
  --c-bg-3: rgba(var(--neutral-700),1);
  --c-navigation-bg: rgba(var(--neutral-100),1);
  --c-page-bg: rgba(var(--white),1);
  --c-anti-white: rgba(var(--white),1);
  --c-bg-panel-drawer: rgba(var(--neutral-100),1);
  --c-bg-skeleton-stroke: rgba(var(--neutral-950),.06);
  --card-bg-0: rgba(var(--neutral-50),1);
  --card-bg-0-hover: rgba(var(--neutral-100),1);
  --linear-gradient-bg-1: linear-gradient(90deg,hsla(0,0%,99%,.06),hsla(0,0%,96%,0));
  --linear-gradient-bg-top: linear-gradient(90deg,#ebf0fd,rgba(215,228,255,0));
  --linear-gradient-bg-num: linear-gradient(90deg,#faf4ef,#f9f9fa);
  --container-bg:linear-gradient(0deg,#f2f2f4 90%,#f2f2f4 95%,#f2f2f400);
}

.dark {
  --container-bg:linear-gradient(180deg,#060716 80%,#06071600);
  --c-primary: #fe2c55;
  --c-primary-hover: rgba(var(--primary-600),1);
  --c-primary-active: rgba(var(--primary-700),1);
  --c-primary-disable: rgba(var(--primary-100),.4);
  --c-primary-default: rgba(var(--primary-500),1);
  --c-secondary-default: rgba(var(--neutral-100),.08);
  --c-secondary-hover: rgba(var(--neutral-100),.12);
  --c-secondary-active: rgba(var(--neutral-100),.16);
  --c-secondary-disable: rgba(var(--neutral-100),.04);
  --c-tertiary-default: rgba(var(--white),0);
  --c-tertiary-hover: rgba(var(--white),.04);
  --c-tertiary-active: rgba(var(--white),.08);
  --c-tertiary-disable: rgba(var(--white),0);
  --c-bg-b0: rgba(var(--neutral-950),1);
  --c-bg-b1: rgba(var(--neutral-900),1);
  --c-bg-b2: rgba(var(--neutral-800),1);
  --c-bg-b3: rgba(var(--neutral-700),1);
  --c-bg-nav: rgba(var(--neutral-1000),1);
  --c-bg-toast: rgba(var(--neutral-800),1);
  --c-bg-b1-white: rgba(var(--neutral-900),1);
  --c-bg-b2-white: rgba(var(--neutral-800),1);
  --c-bg-b3-white: rgba(var(--neutral-700),1);
  --c-fill-hover: rgba(var(--neutral-100),.08);
  --c-fill-press: rgba(var(--neutral-100),.12);
  --c-fill-tag: rgba(var(--primary-500),.12);
  --c-fill-tag-grey: rgba(var(--white),.15);
  --c-fill-live: linear-gradient(131.17deg,#ff1764,#ed3495 94.15%);
  --c-fill-hot: linear-gradient(268.09deg,#f01b5b 6.38%,#ff5a44 59.9%,#ff9113 91.68%);
  --c-text-t0: rgba(var(--white),1);
  --c-text-t1: rgba(var(--white),.9);
  --c-text-t2: rgba(var(--white),.75);
  --c-text-t3: rgba(var(--white),.5);
  --c-text-t4: rgba(var(--white),.34);
  --c-text-t5: rgba(var(--white),.34);
  --c-text-t3-im: rgba(var(--white),.3);
  --c-text-live: #8ce7ff;
  --c-line-l1: rgba(var(--white),.2);
  --c-line-l2: rgba(var(--white),.16);
  --c-line-l3: rgba(var(--white),.04);
  --c-mask-m1: rgba(var(--black),.9);
  --c-mask-m2: rgba(var(--black),.2);
  --c-mask-m3: rgba(var(--black),.85);
  --c-link-yellow: rgba(var(--yellow-500),1);
  --c-link-blue: rgba(var(--dark-blur-500),1);
  --c-semantic-success: rgba(var(--green-500),1);
  --c-semantic-danger: rgba(var(--orange-red-500),1);
  --c-semantic-warning: rgba(var(--orange-500),1);
  --c-const-text-white: rgba(var(--white),1);
  --c-const-text-black: rgba(var(--black),1);
  --c-const-text-primary: rgba(var(--neutral-950),1);
  --c-const-text-white90: rgba(var(--white),.9);
  --c-const-text-white75: rgba(var(--white),.75);
  --c-const-text-white60: rgba(var(--white),.6);
  --c-const-text-white34: rgba(var(--white),.34);
  --c-const-bg-white: rgba(var(--white),1);
  --c-const-bg-white30: rgba(var(--white),.3);
  --c-const-line-white: rgba(var(--white),1);
  --c-const-line-white4: rgba(var(--white),.04);
  --c-const-line-white8: rgba(var(--white),.08);
  --c-const-line-white12: rgba(var(--white),.12);
  --c-shadow1: rgba(0,0,0,.6);
  --c-shadow2: rgba(0,0,0,.9);
  --shadow-1: 0 0 24px rgba(0,0,0,.4);
  --shadow-2: 0 0 24px rgba(0,0,0,.7);
  --mask3: rgba(0,0,0,.6);
  --c-page-none-bg: rgba(22,23,34,0);
  --c-logo: #fff;
  --c-xigua-tab-bg: hsla(0,0%,100%,.08);
  --c-xigua-categoryTab-c: hsla(0,0%,100%,.75);
  --c-xigua-tab-c: hsla(0,0%,100%,.75);
  --c-bg-rs: #292b35;
  --c-primary-disabled: rgba(var(--primary-100),.4);
  --c-success: rgba(var(--green-500),1);
  --c-danger: rgba(var(--orange-red-500),1);
  --c-warning: rgba(var(--orange-500),1);
  --overlay-bg: rgba(var(--neutral-100),.08);
  --overlay-bg-hover: rgba(var(--neutral-100),.12);
  --overlay-bg-active: rgba(var(--neutral-100),.16);
  --overlay-bg-disabled: rgba(var(--neutral-100),.04);
  --c-text-0: rgba(var(--white),.9);
  --c-text-1: rgba(var(--white),.75);
  --c-text-2: rgba(var(--white),.5);
  --c-text-3: rgba(var(--white),.34);
  --c-text-4: rgba(var(--white),.34);
  --c-text-0-hover: rgba(var(--white),1);
  --c-border: rgba(var(--white),.2);
  --mask1: rgba(var(--black),.9);
  --mask2: rgba(var(--black),.9);
  --mask-video: rgba(var(--black),.2);
  --c-card-border: rgba(var(--white),.16);
  --c-bg-0: rgba(var(--neutral-900),1);
  --c-bg-1: rgba(var(--neutral-800),1);
  --c-bg-2: rgba(var(--neutral-700),1);
  --c-bg-3: rgba(var(--neutral-700),1);
  --c-navigation-bg: rgba(var(--neutral-1000),1);
  --c-page-bg: rgba(var(--neutral-950),1);
  --c-anti-white: rgba(var(--white),1);
  --c-bg-panel-drawer: rgba(var(--neutral-800),1);
  --c-bg-skeleton-stroke: rgba(var(--white),.04);
  --card-bg-0: rgba(var(--neutral-900),1);
  --card-bg-0-hover: rgba(var(--neutral-800),1);
  --linear-gradient-bg-1: linear-gradient(90deg,hsla(0,0%,99%,.06),hsla(0,0%,96%,0));
  --linear-gradient-bg-top: linear-gradient(90deg,#323f5a,rgba(50,63,90,0) 100%);
  --linear-gradient-bg-num: linear-gradient(90deg,#403a3a,rgba(64,58,58,0) 100%);
}
