.discover-video-process::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%; /* 将边框半径设置为宽度的一半，即创建一个圆形 */
  background-color: red;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height:4px;
  background-color: #fff;
}

input[type="range"]::-webkit-slider-thumb:before{
  background: #f22;
}
input[type="range"]::-webkit-slider-thumb:after {
  background: #edc;
}

/* WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.wrapBox1::after{
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url("http://s34q2o4v2.hd-bkt.clouddn.com/img5.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(10px) brightness(1.2);
  
}



/* range 3 */
#range3 {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 20px;
  height: 6px;
  background: #ccc;
}

#range3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 30px;
  width: 30px;
  background: transparent;
  background-image: url("https://ibaslogic.github.io/hosted-assets/smile.png");
  background-size: cover;
  border-radius: 50%;
  transition: .2s ease-in-out;
  transform: rotateZ(var(--thumb-rotate, 0deg));
}

/* Thumb: Firefox */
#range3::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background: transparent;
  background-image: url("https://ibaslogic.github.io/hosted-assets/smile.png");
  background-size: cover;
  border: none;
  border-radius: 50%;
  transform: rotateZ(var(--thumb-rotate, 0deg));
  transition: .2s ease-in-out;
}

#range3::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
#range3:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

#range3:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

#range3::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255,85,0, .1)
}
#range3:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}
#range3:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
}
